.login-form {
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
}

.login-form h1 {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10%;
}

.col-form {
    position: relative;
}

.username-text {
    border: 2px solid #CCCCCC;
    border-radius: 6px;
    background: #15202B;
    color: #FFFFFF;
    height: 3rem;
}

.custom-login-button {
    position: absolute;
    right: 35%;
    width: 30%;
}

.select-option {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    /* margin: 10px 0 20px; */
    margin-bottom: 10%;
}

.select-option span {
    background: #15202B;
    padding: 0 10px;
}

.custom-google-button {
    text-align: -webkit-center;
    margin-bottom: 10%;
}