.App {
  text-align: center;
  background: #15202B;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  background: #15202B;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background: #343A40;
  margin-bottom: 50px;
}

.navbar .me-auto {
  gap: 30%;
}

.navbar-link {
  color: #FFFFFF !important;
}

.navbar-row {
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}